h1, h2, h4{
    font-family: 'Montserrat', serif !important;
    font-weight: bold !important;
    color: rgba(37, 247, 182, 0.81) !important;
}
h3{
    text-align: left;
    letter-spacing: 1px !important;
    color:rgba(174, 240, 220, 0.81) !important;
    text-transform: uppercase !important;
}
h2{    text-align: left;
    font-size: 4.5em !important;
}
h1{    text-align: left;
    font-size: 5.5em !important;
    text-shadow: 1px 1px 3px rgba(59, 59, 59, 0.49) !important;
    padding: 15px !important;
}
a{
    color: rgba(37, 247, 182, 0.81) !important;
}
.main-gifs{
display: inline-block !important;
    width: 500px;
    height: auto;
}
    .titleBkg{
    padding: 5px 15px 5px 25px !important;
         }

