    body {
      font-family: arial, helvetica, sans-serif;
      color: #fff;
      font-size: 16pt;
      margin: 0px;
    }
    
    p{
        color: #141313;
      margin:10px 0 15px;
    }

    img{
    margin: 10px 0;
        width: 100%;
        height: auto;
    }
/*CONTAINER*/

    #container{
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
        position: relative;
	background-color: #FFFFFF;
	
    }

        #container h1{
	height:71px;
	width: 900px;
	padding-bottom: 0;
    }
    
        #container h2{
	width: 445px;
	height:196px;
	float: right;
	padding-right:60px;
	padding-bottom: 80px;
    }
   
    #words{
      font-size: 11pt;
	font-weight: 100;
	line-height:16pt;
	letter-spacing:1px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
    }
ul.student-list {
    list-style: none;
    padding: 0;
    width: 100%;
    white-space: normal;
    position: relative;
}
ul.student-list li{
    white-space: nowrap;
    display: inline-block;
    width: 47%;
    margin-right: 2%;
    margin-bottom: 15px;
}
ul.student-list li:nth-child(even){
    margin-right: 0;
    margin-left: 2%;
}
ul.student-list li div.img{
    white-space: normal;
    width: 30%;
    display: inline-block;
     vertical-align: bottom;
}
ul.student-list li div.img img{
  margin: 0;
}

ul.student-list li div.text{
    vertical-align: bottom;
    width: 70%;
    white-space: normal;
      color: #141313;
     font-size: 10pt;
    display: inline-block;
    text-align: left;
}
ul.student-list li h3{
    font-weight: 600;
    display: block;
    margin: 0 0 5px;
}
ul.student-list li p{
    display: block;
}

/*DONATE*/
        #donate{
	font-size: 10pt;
	font-weight: 300;
	line-height:16pt;
	letter-spacing:1px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
    }
        #donate p{
	font-size: 11pt;
	font-weight: 300;
	line-height:18pt;
	letter-spacing:1px;
	text-align: left;
    }    
    #donate a:link {
      color: #000000;
      text-decoration:none;
      }
    #donate a:visited {
      color: #000000;
      text-decoration:none;
      }
    #donate a:hover {
      background-color: #000000;
      color: #FFFFFF;
      text-decoration:none;
    }
    #donate a:active {
      color: #FFFFFF;
      background-color:#000000;
      text-decoration:none;
      }

/*HEADER*/
    #header {
      height: 140px;
      margin: 0 auto;
      width: 100%;
      border-bottom: 1px solid #141313;
    }
    
    #header h1 {
      float: left;
      width: 268px;
      height:88px;
        margin-bottom: 0;
      
    }

    #nav{
      height: 30px;
      width: 380px;
      font-weight: 200;
      font-size:11pt;
      margin-top: 80px;
      text-align: right;
      float:right;
    }
    
        #nav a:link {
      color: #141313;
      text-decoration:none;
        padding: 5px 10px;
            border-bottom: 1px solid transparent;
            text-transform: uppercase;
            margin-left: 10px;
            
    display: inline-block;
    vertical-align: middle;
      }
#nav a.fb:link {
        padding: 0 10px;
            
      }
    #nav a.active {
      border-bottom: 1px solid #141313;
      }
#nav a img{
    width: 23px;
    height: 23px;
    margin:0 0 0;
    display: inline-block;
}
    #nav a:visited {
      color: #141313;
      text-decoration:none;
      }
    #nav a:hover, #nav a:active  {
      background-color: #141313;
      color: #FFFFFF;
      text-decoration:none;
    }
    #nav a.fb:hover, #nav a.fb:active {
      color: none;
      background-color:transparent;
      text-decoration:none;
      }

    
     #nav2{
      height: 10px;
      width: 100%;
      font-size:9pt;
    margin-top: 10px;
      text-align: right;
      float:right;
    }
    
      #nav2 a:link, #nav2 a:visited {
      color: #141313;
          text-transform: uppercase;
        padding: 5px 10px 2px;
      text-decoration:none;
      }
    #nav2 a.active{
          color: #FFFFFF;
      background-color: #141313;
      }
    #nav2 a:hover {
      background-color: #141313;
      color: #FFFFFF;
      text-decoration:none;
    }
    #nav2 a:active {
      color: #FFFFFF;
      background-color:#141313;
      text-decoration:none;
      }
      
/*FOOTER*/
    #ending {
      height: 30px;
      width: 100%;
      font-size: 9pt;
      font-weight: 300;
      margin: 15px auto;
      padding-top: 5px;
      border-top: 1px solid black;
      text-align: left;
    }
    #ending h1{
      height: 54px;
      width: 146px;
      margin-left: 410px;
    }
    
     #ending a:link {
      color: #000000;
      text-decoration:none;
      }
      
    #ending a:visited {
      color: #000000;
      text-decoration:none;
      }
    #ending a:hover {
      background-color: #000000;
      color: #FFFFFF;
      text-decoration:none;
    }
    #ending a:active {
      color: #FFFFFF;
      background-color:#000000;
      text-decoration:none;
      }
/*STUDENTS*/
#students{
      height: 1400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      width: 920px;
    }
    
#imagesone{
  width: 150px;
  height:1250px;
  float:left;
  margin-right: 5px;

}

#namesone{
  width:300px;
  height:1250px;
  float:left;
  text-align: left;
  font-size: 10pt;
  line-height: 16pt;
  margin-right: 5px;
}

#imagestwo{
  width: 150px;
  height:1250px;
  float:left;
  margin-right: 5px;
}

#namestwo{
  width:300px;
  height:1250px;
  float:left;
  text-align: left;
  font-size: 10pt;
  line-height: 16pt;
}

@media screen and (max-width: 768px) {
    #header {
      border-bottom: 1px solid transparent;
    }
   #header h1 {
      width: 220px;
       margin: 0;
       height: 70px;
      
    }
      #nav{
           border-top: 1px solid #141313;
      width: 100%;
      margin-top: 10px;
      text-align: center;
    }
    
     #nav2{
      text-align: center;
      width: 100%;
    }
    

}
@media screen and (max-width: 570px) {
        ul.student-list li{
    white-space: nowrap;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}
    ul.student-list li:nth-child(even){
        margin-left: 0;
}
}
